
body {
    /* Maximum height of what is visible */
    height: 100vh;   
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}


h1 {
    font-weight: bold;
    margin: 0;
    color: white;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
}

.header h2 {
    color: white;
}


.content {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}


.website-info {
    width: 100%;
    background: #1F2937;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    color:white;
    gap: 100px;
    padding: 40px;
}

.left-side, .right-side{
    max-width: 300px;
}

.right-side {
    background: gray;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    display: block;
    background-color: #3882F6;
    color:white;
    min-width: 70px;
    border-radius: 4px;
    margin-top: 10px;
    
}

.information {
    flex-grow: 1;
    padding: 40px;
}
.information h2 {
    text-align: center;
}

.card-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.cardText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.card {
    border: solid #3882F6; 
    border-radius: 10px;
    width: 100px;
    height: 100px;
}

.quote {
    text-align: center;
    width: 100%;
    padding: 40px;
    background: #E5E7EB;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.actual-quote {
   font-weight: lighter;
   font-style: italic;
   font-size: 36px;
   width: 500px;
   color: #1F2937;
}

.quoter {
    align-self: center;
    padding-left: 200px;;
}
.divider {
    flex-grow: 1;
    padding: 40px;
}

.sign-up {
    display: flex;
    gap: 120px;
    border-radius: 4px;
    background-color: #3882F6;
    padding: 20px;
    padding-right: 80px;
    padding-left: 80px;
    color:white;
}
.sign-up button {
    border-color: white;
    height: fit-content;
    align-self: center;
}

/*
Remove list bullet points and place next to each other
*/
ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px
}
/*
Remove link coloring and underline
*/
a {
    color: white;
    text-decoration: none;
}